<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/" class="navbar-brand">Usuarios MongoDB</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/api/users/crear" method="POST">
                            <div class="form-group">
                                <input type="text" name="firstName" placeholder="Inserta un Nombre" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastName" placeholder="Inserta un Apellido" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" placeholder="Inserta un E-mail" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="number" name="phone" placeholder="Inserta su numero" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Agregar
                            </button>
                            <a href="/api/users/create" class="btn btn-danger btn-block">Crear usuarios falsos</a>
                        </form>
                    </div>
                </div>
            </div>
            <!-- LISTA -->
            <div class="col-md-10">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < users.length; i++) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= users[i].firstName %></td>
                                <td><%= users[i].lastName %></td>
                                <td><%= users[i].email %></td>
                                <td><%= users[i].phone %></td>
                                <td>
                                    <a href="/delete/<%= users[i]._id %>" class="btn btn-dark">Borrar</a>
                                    <a href="/edit/<%= users[i]._id %>" class="btn btn-info">Editar</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>    
        </div>
    </div>
</body>
</html>